/*body {
	background-image: url("../images/arindam-mahanta-217437.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #ffffff;
}

h1 {
	text-align: center;
}*/