#wordUnderscore {
	font-size: 7rem;
	text-align: center;
}

#underscores {
	font-size: 7rem;
	letter-spacing: 7px;
}

#win {
	text-align: center;
	font-size: 7rem;
}

#winsCounter {
	text-align: center;
	font-size: 7rem;
}


